@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@500&display=swap');
*{
    margin:0px;
    border:1px solid red;
    /* line-height:2rem; */
}
*[onclick]{
    cursor: pointer;
}
html{
    font-size:62.5%;
    font-family: 'Niramit', sans-serif;
}
body{
    min-height:100vh;
}
#top-nav{
    display:flex;
    justify-content: space-between;
    padding:2.4em;
    font-size:2.4rem;
}
#top-nav h1{
    font-size:4.8rem;
    font-family: 'Sriracha', cursive;
}
#menu{
    list-style: none;
    display:flex;
    gap:1.2em;
}
.hidden{
    display:none;
}
#burger-img,
#cloud-cross-img{
    display:none;
    float:right;
}
#burger-img{
    width:6rem;
}
#cloud-cross-img{
    width:8rem;
}
#burger-menu{
    margin-top:1em;
    display:none;
    background-color: gray;
}
#burger-menu li:first-of-type{
    margin-top: 8rem;
}
#menu li{
    margin-top:auto;
    margin-bottom:auto;
}
@media screen and (max-width:1150px){
    /* change to burger menu */
    #menu{
        display:none;
    }
    #burger-img{
        display:block;
    }
    #burger-menu{
        position:absolute;
        right:2.2em;
        list-style: none;
        padding:0em 0.2em;
    }
    #top-nav h1{
        font-size:6rem;
    }
}